<!DOCTYPE html>
<html lang="en">

<head>
  <title>Player Hand Ranges</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=yes">
  <link rel="icon" type="image/png" href="images/icons/mobile.png" >
  <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
  <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
  <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
  <link rel="stylesheet" type="text/css" href="css/util.css">
  <link rel="stylesheet" type="text/css" href="css/main.css?v=1.0.10">
  <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
</head>

<body>
  <div class="limiter">
    <img class="logo" src="images/logo.png" alt="Your Poker Club">

    <div class="container-table100">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="padding-right:10px">
        <div class="container">
          <div class="row">
            _PLAYERS_NAVIGATION_
          </div>
        </div>
      </div>

      <div class="wrap-table50" style="width: 70%;">
        <div class="tab-content" id="v-pills-tabContent">
          _PLAYER_HOLE_CARD_BODY_
          <div class="generation-date">_GENERATED_ON_</div>
        </div>
      </div>
    </div>
  </div>
  <script src="vendor/jquery/jquery-3.2.1.min.js"></script> 
  <script src="vendor/bootstrap/js/popper.js"></script> 
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script> 
  <script src="vendor/select2/select2.min.js"></script> 
  <script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script> 
  <script>
    $('.js-pscroll').each(function () {
      var ps = new PerfectScrollbar(this);

      $(window).on('resize', function () {
        ps.update();
      })
    });
  </script>
  <script src="js/main.js?v=1.0.6"></script>
</body>
</html>